doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/syle.css")
    body 
        include ./modules/header.pug
        .content
            h1.content__section-name Каталог
            .content__products
                .content__product
                    .content__product-type
                    img(src="./img/bp_stakanchik `.png", alt="").content__product-image
                    p.content__product-name Стаканчик для рассады 
                    p.content__product-price Цена: 1200 р. (1 шт)
                .content__product
                    .content__product-type
                    img(src="./img/bp_vilka.png", alt="").content__product-image
                    p.content__product-name Вилка посадочная
                    p.content__product-price Цена: 300 р. (1 шт)
                .content__product
                    .content__product-type
                    img(src="./img/bp_rixlitel.png", alt="").content__product-image
                    p.content__product-name Рыхлитель 3-х зуб.
                    p.content__product-price Цена: 499 р. (1 шт)
                .content__product
                    .content__product-type
                    img(src="./img/bp_raseivatel 2.png", alt="").content__product-image
                    p.content__product-name Рыхлитель-мотыга 2-х зуб
                    p.content__product-price Цена: 1200 р. (1 шт)
                .content__product
                    .content__product-type
                    img(src="./img/bp_raseivatel.png", alt="").content__product-image
                    p.content__product-name Рассеиватель
                    p.content__product-price Цена: 700 р. (1 шт).
                .content__product
                    .content__product-type
                    img(src="./img/bp_raseivatel 3.png", alt="").content__product-image
                    p.content__product-name Рассеиватель 2-х
                    p.content__product-price Цена: 2500 р. (1 шт)
                .content__product
                    .content__product-type
                    img(src="./img/bp_plodosemniik.png", alt="").content__product-image
                    p.content__product-name Плодосьемник
                    p.content__product-price Цена: 1200 р. (1 шт)
                .content__product
                    .content__product-type
                    img(src="./img/bp_Park 1.png", alt="").content__product-image
                    p.content__product-name Park 3h
                    p.content__product-price Цена: 799 р. (1 шт)
                .content__product
                    .content__product-type
                    img(src="./img/bp_Park 2.png", alt="").content__product-image
                    p.content__product-name Park 4z
                    p.content__product-price Цена: 2500 р. (1 шт)
                .content__product
                    .content__product-type
                    img(src="./img/bp_kasseta.png", alt="").content__product-image
                    p.content__product-name Кассета складная
                    p.content__product-price Цена: 1200 р. (1 шт)
                .content__product
                    .content__product-type
                    img(src="./img/bp_leska.png", alt="").content__product-image
                    p.content__product-name Леска
                    p.content__product-price Цена: 70 р. (1 м)
                .content__product
                    .content__product-type
                    img(src="./img/bp_med.png", alt="").content__product-image
                    p.content__product-name Медная леска
                    p.content__product-price Цена: 250 р. (2 м)
            .graphic-element
                .graphic-element__left
                img(src="./img/logo_logo1.png", alt="")
                .graphic-element__right
            h1.content__section-name Советы покупателю
            p 1)    Покупатель имеет право обменять приобретенный товар на любой другой товар в нашем интернет магазине или отказаться от купленного товара в течение 7 дней с момента приобретения товара, при условии полной комплектации и надлежащего качества товара (присутствует и не нарушена упаковка, приложена инструкция и гарантийный талон, а также сопровождающие приобретение товара документы, товар не имеет вмятин, царапин, сколов и других механических повреждений, за исключением скрытых производственных дефектов).
            p 2)    Стоимость товара, подлежащая возврату или обмену, не включает стоимость доставки. Покупатель самостоятельно возвращает товар в магазин или оплачивает доставку товара.


            

            include ./modules/footer.pug
